{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    body{
        padding-top:2em;
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 80%;
      border-radius: 5px;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    
    .card-container {
      padding: 2px 16px;
    }
    p{
        font-size: 20px;
    }
    </style>

    <a style="text-decoration: none;" href="{% url '1' %}">
        <div class="card">
            <div class="card-container">
                <h4><b style="color:black;">Git Commands</b></h4>
                <p style="color:grey;">Contains basic git commands</p> 
            </div>
        </div>
    </a>
    <br>
    <a style="text-decoration: none;" href="{% url '2' %}">
        <div class="card">
            <div class="card-container">
                <h4><b style="color:black;">Django</b></h4>
                <p style="color:grey;">contains basic django commands</p> 
            </div>
        </div>
    </a>

{% endblock content %}