{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 style="text-align: center; padding-top:2em; color:black;">BASIC GIT COMMANDS</h1>
<div class="container">         
    <table class="table table-hover">
      <thead>
         <tr>
          <th>Commands</th>
          <th>Description</th>
         </tr>
       </thead>
        <tbody>
            <tr>
              <td>git init</td>
              <td>Doe</td>
            </tr>
        </tbody>

        <tbody>
             <tr>
               <td>git add filename</td>
               <td>Doe</td>
             </tr>
        </tbody>

        <tbody>
            <tr>
                <td>git add</td>
                <td>Doe</td>
            </tr>
        </tbody>

        <tbody>
             <tr>
                <td>git commit</td>
                <td>Doe</td>
            </tr>
        </tbody>

        


    </table>
</div>

 <!--
 git init:
 git add filename:
 git add:
 git commit: 
 git commit -m " msg ":
 git push: 
 git push . :
 git clone "path of repository":
 git log:
 git status:
 --> 
{% endblock content %}